<!--- ********************************************************************* --->
<!--- Kakapo 1.00  Released under the GNU licenses 3                        --->
<!--- Saman W Jayasekara (sam@cflove.org) http://cflove.org                 --->
<!--- Last Update : August 22, 2011                                         --->
<!--- ********************************************************************* --->
<cfimport 
	taglib =	"../system/ct"  
	prefix =	"ct">
<ct:quickCheck>
<cfset settingfile = "#ExpandPath('..\')#kakapo.cfm">

<div class="bluebox">
<div class="formblock">
<cfform id="formfield" action="index.cfm?action=updateSettings" method="post">
<cfif FileExists(settingfile)>
<cffile action="read" file="#settingfile#" variable="set" charset="utf-8">
<cfset set	= replace(set,chr(10),' #chr(10)#','all')>


<div class="accordinghead">Update Settings</div>

<div class="settingitem" style="text-align:right">
Kakapo Version: <cfoutput>#kakapo.version# &nbsp; (<span id="updateStat"><a href="javascript:checkupdate('#kakapo.version#')">Check for Update</a></span>)</div></cfoutput>


<cfset box 	= 0>
<cfset line = 1>
<cfloop from="1" to="50" index="c">
<cfset i = listgetat(set,c,chr(10))>
	<cfoutput>
	<cfif left(i,2) eq '<!'>
		<!--- hint from the comment line ---->
		<div class="settingitem">
		#rereplace(listfirst(i,'['),'<!---|--->',"",'all')#
		<cfif listlen(i,'[]') gt 2>
			<cfset options = listgetat(i,2,'[]')>
		<cfelse>
			<cfset options = "">
		</cfif>
	<cfelseif left(i,7) eq '<cfset '>
		<!--- value form cfset tag --->
			<cfset value = trim ( right(i, len(i) - (find('= "',i)+2) ) )>
			<cfif len(value) gt 2>
				<cfset value = left(value,len(value)-2)>
			<cfelse>
				<cfset value = ''>
			</cfif>
			<cfset value = replace(value,'""','"','all')>
			<div style="padding-left:20px; padding-top:5px">
			<cfif listlen(options)>
				<cfif listlen(options) lte 3>
					<cfset ocount = 1>
					<cfloop list="#options#" index="o">
						<input type="radio" id="filed_#line#" name="filed_#line#" <cfif value eq listfirst(o,'-')>checked="checked"</cfif> value="#listfirst(o,'-')#" id="filed_#line##ocount#_f" /> <label style="padding:4px" for="filed_#line##ocount#_f">#listlast(o,'-')#</label>
						<cfset ocount = 1+ocount>
					</cfloop>
				<cfelse>
					<select id="filed_#line#" name="filed_#line#" class="input">
					<cfloop list="#options#" index="o"><option <cfif value eq listfirst(o,'-')>selected="selected"</cfif> value="#listfirst(o,'-')#">#listlast(o,'-')#</option></cfloop>
					</select>
				</cfif>
			<cfelse>
				<cfinput type="text" class="text" onKeyUp="textSize(this.id)" value="#value#" style="width:500px" name="filed_#line#" id="filed_#line#" /><br />
			</cfif>
		</div></div>
	</cfif>
	</cfoutput>
<cfset line = 1+line>
</cfloop>
	<div style="padding-left:100px; padding-top:10px">
		<input title="Click Here to Save" class="button" type="submit" value="Continue" name="submit" />
	</div>
</div></div><br />
<br />
<cfelse>
	Missing Kakapo.cfm file. 
</cfif>
</cfform>

<cfquery name="chk" datasource="#kakapo.datasource#" username="#kakapo.username#" password="#kakapo.password#">
	select count(errorid) as chk from #kakapo.table#
</cfquery>
	
<script type="text/javascript">
function textSize(i) {
	var l = $('#'+i).val().length
	if (l < 100) {
		if ( $('#'+i).attr('type') !== 'text' ) {
			$('#'+i).parent().html('<input type="text" class="text" onKeyUp="textSize(this.id)" value="'+$('#'+i).val()+'" name="'+i+'" id="'+i+'" />')	
		}
	}
	
	if (l < 5) {
		$('#'+i).css({'width':'60px','min-width':'60px'})
	} else if (l < 20) {
		$('#'+i).css({'width':'250px','min-width':'250px'})
	} else if (l < 100) {
		$('#'+i).css({'width':'500px','min-width':'500px'})
	} else {
		if ( $('#'+i).attr('type') == 'text' ) {
			$('#'+i).parent().html('<textarea class="text" style="width:99%; height:70px" name="'+i+'" id="'+i+'" onKeyUp="textSize(this.id)">'+$('#'+i).val()+'</textarea>')
		}
	}
}

$("document").ready(function() {
	/////////////////////////////
	var logfile = $('.settingitem:contains("Log file storage folder")').children().children('input')
	if ( !$(logfile).val()) {
		$(logfile).val("<cfoutput>#JSStringFormat(ExpandPath('..\logs'))#</cfoutput>")
	}
	/////////////////////////////
	var ipaddress = $('.settingitem:contains("Debug IP Address list")').children().children('input')
	if ( !$(ipaddress).val()) {
		$(ipaddress).val("<cfoutput>#JSStringFormat(cgi.REMOTE_ADDR)#</cfoutput>")
	}
	//compress settings
	<cftry>
	<cfif val(chk.chk)>
		$('.settingitem:contains("Compress Log Files")').css('display','none')
	</cfif>
	/////////////////////////////
	<cfset adminpath 	= "http://#cgi.HTTP_HOST##cgi.PATH_INFO#">
	<cfset adminpath	= ListDeleteAt(adminpath,listlen(adminpath,'\/'),'\/')>
	<cfset adminpath	= ListDeleteAt(adminpath,listlen(adminpath,'\/'),'\/')>
	<cfset adminpath	= "#adminpath#/administrator">
	var adminurl = $('.settingitem:contains("Kakapo Admin URL")').children().children('input')
	if ( !$(adminurl).val()) {
		$(adminurl).val("<cfoutput>#JSStringFormat(adminpath)#</cfoutput>")
	}
	<cfcatch></cfcatch>
	</cftry>
	$("input[type:text].text").trigger('keyup');
	
	// form submit validation
	$('#formfield').submit(function() {
		////////////////////////////
		var Datasource = $('.settingitem:contains("Data Source Name")').children().children('input')
		if (!$(Datasource).val() ) {
			alert('Datasource Name is Required')
			return false	
		}
		///////////////////////////
		if (!$(logfile).val() ) {
			alert('Log file Path is required')
			return false	
		}
	})
})

function checkupdate(i) {
	var surl = 'http://cflove.org/warehouse/services/kakapows.cfc?method=rGetVersion&ver='+ i +'&callback=?'
	$.getJSON(surl, function(data) { $('#updateStat').html(data)})
}
</script>