<!--- ********************************************************************* --->
<!--- Kakapo 0.36. Released under the GNU licenses 3                        --->
<!--- Saman W Jayasekara (sam@cflove.org) http://cflove.org                 --->
<!--- Last Update : August 22, 2011                                         --->
<!--- ********************************************************************* --->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kakapo Installation </title>
<script type='text/javascript' src='../administrator/js/jquery/jquery-1.4.2.min.js'></script>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head><body>
<div id="header"><img src="images/install.gif" title="Kakapo.Instalation" style="float:left" /><img src="images/cflove.png" style="float:right" /><div style="clear:both"></div></div>