html,body 			{margin:0; padding:0; height:100%; color:#333; font-family:Verdana; font-size:11px}
#header				{background-image:url(images/headebg.png); height:39px}
.bluebox			{background: #B7E6F8; border:1px solid #B7E6F8; margin-left:40px;margin-right:40px;margin-top:20px;-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px;}
.formblock			{padding:10px; margin:10px}
.divider			{background-color:#fff; border:0px; border-bottom:1px dotted #CCC;  padding-top:5px; padding-bottom:5px}
input				{font-family:Verdana; font-size:11px}
.settingitem		{border-bottom:1px solid #F0F0F0; padding:5px; }
.button				{font:Verdana, Geneva, sans-serif; padding-top:5px; padding-bottom:5px; padding-left:15px; padding-right:15px; cursor:pointer; -webkit-border-radius:5px; border-radius:5px; -khtml-border-radius:5px; border:none; color:#FFFFFF; background-color:#225D7D; font-weight:bold; font-size:11px;}
.button:hover		{background:#19506E;}
.text				{-webkit-border-radius: 5px; border-radius: 5px; -khtml-border-radius: 5px; border:0px; padding:5px}
.accordinghead		{background-color:#999999; border:1px solid #999999; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; color:#FFFFFF; -webkit-border-radius: 5px; border-radius:5px; -khtml-border-radius: 5px; clear:both; padding:6px; font-weight:bold; margin:2px}



